extends layout

block content
	h1 #{popups.length} Pop-up(s) listed and counting...
  h2 Pop-up Details:
	each popup in popups
		li #{popup.title} performed by #{popup.host}
		p Organizers:
		each host in hosts
			li #{host.firstName} #{host.lastName}
			li #{host.email}
			li #{host.phoneNumber}
		p Guests:
		each guest in guests
			li #{guest.firstName} #{guest.lastName}
			li #{host.email}