extends layout

block content
  if (user)
    h1 Guest Details:
    p #[strong UserId]: #{user._id}
    p #[strong Name]: #{user.firstName} #{user.lastName}, #[strong E-Mail]: #{user.email}, #[strong Role]: #{user.role}
    h3 #[strong #{user.firstName} is going to #[u #{user.events.length}] events and #[u #{user.popups.length}] pop-ups.]
  else
    p User not found.
