extends layout

block content
  h4 #[u #{events.length}] Event(s) with #[u #{popups.length}] Pop-up(s) listed and counting...
  each event in events
    h3 Event # #{event.id}: #{event.name}
    p #[strong Location]: #{event.location}
    p #[strong Date]: #{event.date}
    p #[strong Space Host]: #{event.host}

    h3 Pop-ups:
    each popup in popups
      ul
        li #[strong #{popup.title}] performed by #[em #{popup.host}]
    p Guests:
    each user in users
      ul
        li #[strong #{user.firstName} #{user.lastName}], Email: #{user.email}, Role: #{user.role}
