extends layout

block content
  h3 #[u #{popups.length}] Pop-up(s) listed and counting...
  each popup in popups
    p #{popup.slots.week_day.from}, #{popup.slots.date.from}, #{popup.slots.time.from} - #{popup.slots.week_day.to}, #{popup.slots.date.to}, #{popup.slots.time.to}
    li #[strong #{popup.popupTitle}]
    h3 Guests:
    each user in users
      li #{user.firstName} #{user.lastName}, Email: #{user.email}, Phone: #{user.phoneNumber}
