extends layout

block content
  h1 #[u #{popups.length}] Pop-up(s) listed and counting...
  each event in events
    h2 Pop-ups @ #{event.name}:
  each popup in popups
    li #[strong #{popup.title}] performed by #[em #{popup.host}]
  p Organizer:
  each user in users
    li Name: #{user.firstName} #{user.lastName},
      | Email: #{user.email}, Phone: #{user.phoneNumber}
